html, body {
 
  height:100vh;
  margin:0;
  padding:0;
  font-family:"Iosevka Custom",monospace,sans-serif;
  text-align:left;
  font-size:14px;
  background:#000;
  color:rgb(211,211,211);
  background:linear-gradient(180deg,#0a1325 0,#000000);
}

canvas {
  display: block;
}


.main{
  background-color:linear-gradient(180deg,#0a1325 0,#000000);
   
  color: azure;
}


h1{
   
}

h2{
  font-size:34px;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0;
  margin-bottom: 60px; /* Position the navbar at the top of the page */
  width: 70%; /* Full width */
}





@media screen and (max-width: 480px) {
#h1_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
		}
	}



#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

  }



  #Courses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 632px;
    gap: 33px;

  }


  .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 2em;

  }




  #chart{
    margin-top: 115px;
    display: flex;
    width: 810px;
    height: 810px;
  }

@media screen and (max-width: 480px) {
#chart {
    width: 320px;
    height: 410px;
		}
	}


