html, body {
 
  height:100vh;
  margin:0;
  padding:0;
  font-family:"Iosevka Custom",monospace,sans-serif;
  text-align:left;
  font-size:14px;
  background:#000;
  color:rgb(211,211,211);
  background:linear-gradient(180deg,#0a1325 0,#000000);
}

canvas {
  display: block;
}


.main{
  background-color:linear-gradient(180deg,#0a1325 0,#000000);
  display: flex;
  justify-content: center;
  color: azure;
  flex-direction: column;
  align-items: center;
}


h1{
    font-size:39px;
}

h2{
  font-size:44px;
  margin-bottom: 9px;
}



.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0;
  margin-bottom: 60px; /* Position the navbar at the top of the page */
  width: 40%; /* Full width */
}


.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 33px;
}





@media screen and (max-width: 780px) {
#h1_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
		}
	}



.verbs{
    display: flex;
    flex-direction: row;     
    gap: 33px;
}

#top_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

  }



  #items_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 832px;
    gap: 33px;

  }



#items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}



  #Courses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 832px;
    gap: 33px;

  }


  .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 2em;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 7px;
    padding: 15px;
    

  }


  a:link { text-decoration: none; 
    color: rgb(219, 219, 219);}
  a:visited { text-decoration: none; 
    color: rgb(219, 219, 219);}





@media screen and (max-width: 780px) {

 }
